webring-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

webring-widget #links * {
  margin: 0 0.25rem;
}

webring-widget a,
webring-widget a:hover,
webring-widget a:active,
webring-widget a:hover {
  text-decoration: none;
  color: inherit;
}
