:root {
  --webring-widget-gap: 1rem;
}

widget,
links {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

widget {
  --link-color: blue;
  height: 100%;
  flex-direction: column;
}

links {
  flex-direction: row;
}

a {
  color: var(--link-color) !important;
  text-decoration: none;
  font-weight: bold;
}

#current {
  position: relative;
}

.anchored {
  position: absolute;
  top: 0;
}

#previous.anchored {
  right: calc(100% + var(--webring-widget-gap));
}

#next.anchored {
  left: calc(100% + var(--webring-widget-gap));
}
